.darkMode {
    background-color: black;
    color: white;
}

.lightMode {
    background-color: lightgray;
    color: black
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subheader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width : 1000px) {
    #subheader {
        flex-wrap: wrap;
    }

}