<div id={{content.divIds[0]}} [ngClass]="{'darkMode' : darkMode, 'lightMode' : !darkMode}">
    <div id={{content.divIds[1]}}>
        <h1> {{content.title}} </h1>
    </div>
    <div [ngClass]="{'darkMode' : darkMode, 'lightMode' : !darkMode}" id={{content.divIds[2]}} > 
        <mat-card  [ngClass]="{'darkCard' : darkMode, 'lightCard' : !darkMode}">
            <mat-card-header>
                <mat-card-title>
                    <h3> {{projects.title}} </h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="image">
                    <img mat-card-image src="{{projects.image}}">

                </div>
                <div id="text">
                    {{projects.description}}

                </div>
            </mat-card-content>
            <mat-card-actions>
                @for (action of projects.actions; track action; let j = $index) {
                <a href="{{projects.links[j]}}"> <button mat-button [ngClass]="{'darkLink' : darkMode}"> {{action}}
                    </button> </a>
                }
                @if (liked) {
                    <mat-icon [ngStyle]="{'margin' : '15px'}" (click)="likeCard()">
                        {{content.icons[0]}} </mat-icon>
                } @else {
                    <mat-icon [ngStyle]="{'margin' : '15px'}" (click)="likeCard()">
                        {{content.icons[1]}} </mat-icon>

                }
                


            </mat-card-actions>


            

        </mat-card>


        

    
    </div>

    <a> <button mat-button [routerLink]="['/']" [ngStyle]="{'margin' : '15px'}"> {{content.undo}} </button> </a>

    
</div>
